#checkout-main {
  width: 100%;
  margin-top: 80px;
}
#checkout-main > section {
  width: 100%;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
}
#checkout-main > section > form {
  min-height: 650px;
  padding: 28px 56px;
  position: relative;
}
#checkout-main > section > form > div {
  margin-bottom: 20px;
}
#checkout-main > section > form > div > h4 {
  font-size: 25px;
  color: #333333;
  text-transform: capitalize;
  margin-bottom: 15px;
  position: relative;
}
#checkout-main > section > form > div > h4::before {
  content: "";
  width: 25px;
  height: 25px;
  border: 1px solid #784693;
  border-radius: 4px;
  position: absolute;
  left: -40px;
  top: 1px;
}
#checkout-main > section > form > div:nth-of-type(1) > h4::after {
  content: "";
  border: 1.5px solid #e6e6e6;
  position: absolute;
  height: 271px;
  left: -29px;
  top: 26px;
}
#checkout-main > section > form > div > fieldset {
  position: relative;
  margin-bottom: 25px;
}
#checkout-main > section > form > div > fieldset > input {
  width: 100%;
  height: 45px;
  padding: 8px 16px;
  color: #333333;
  border: 2px solid #ececec;
  border-radius: 6px;
  outline: none;
  transition: 0.3s ease-in-out;
}
#checkout-main > section > form > div > fieldset > input::-moz-placeholder {
  text-transform: capitalize;
}
#checkout-main > section > form > div > fieldset > input::placeholder {
  text-transform: capitalize;
}
#checkout-main > section > form > div > fieldset > input:focus {
  outline: 1px solid #784693;
}
#checkout-main > section > form > div > div {
  width: 100%;
  display: flex;
}
#checkout-main > section > form > div > div > fieldset {
  position: relative;
  margin-bottom: 25px;
  width: 50%;
}
#checkout-main > section > form > div > div > fieldset > input {
  width: 100%;
  height: 45px;
  padding: 8px 16px;
  color: #333333;
  border: 2px solid #ececec;
  border-radius: 6px;
  outline: none;
  transition: 0.3s ease-in-out;
}
#checkout-main > section > form > div > div > fieldset > input::-moz-placeholder {
  text-transform: capitalize;
}
#checkout-main > section > form > div > div > fieldset > input::placeholder {
  text-transform: capitalize;
}
#checkout-main > section > form > div > div > fieldset > input:focus {
  outline: 1px solid #784693;
}
#checkout-main > section > form > div > div > fieldset:nth-of-type(1) {
  margin-right: 10px;
}
#checkout-main > section > form > div #chechbox-field > div {
  margin-right: 25px;
}
#checkout-main > section > form > div #chechbox-field > div > label {
  font-size: 14px !important;
}
#checkout-main > section > form > div > p {
  color: #333333;
  font-size: 14px;
  text-transform: capitalize;
}
#checkout-main > section > form > div > p > a {
  color: #784693;
}
#checkout-main > section > div {
  background-color: #1A0E1F;
  border-radius: 21px;
  padding: 50px;
}
#checkout-main > section > div > h3 {
  color: #ffffff;
  font-size: 20px;
}
#checkout-main > section > div > form {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
}
#checkout-main > section > div > form > input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  color: #784693;
  padding: 0 20px;
}
#checkout-main > section > div > form > input::-moz-placeholder {
  text-transform: capitalize;
  color: #6B7280;
}
#checkout-main > section > div > form > input::placeholder {
  text-transform: capitalize;
  color: #6B7280;
}
#checkout-main > section > div > form > button {
  width: 10%;
  height: 100%;
  color: #784693;
  text-transform: capitalize;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
}
#checkout-main > section > div > form > button:hover {
  color: #1A0E1F;
}
#checkout-main > section > div > div,
#checkout-main > section > div section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
#checkout-main > section > div > div > p,
#checkout-main > section > div section > p {
  color: #ffffff;
  text-transform: capitalize;
}
#checkout-main > section > div > div > h6,
#checkout-main > section > div section > h6 {
  color: #ffffff;
}
#checkout-main > section > div > section > p {
  font-family: Prompt-SemiBold;
}
#checkout-main > section > div > section > h6 {
  font-family: Prompt-SemiBold;
  font-size: 28px;
}
#checkout-main > section > div > a {
  width: 100%;
  background-color: #784693;
  color: #ffffff;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
#checkout-main > section > div > a:hover {
  background-color: #513063;
}/*# sourceMappingURL=master.css.map */