#footer {
    width: 100%;
    min-height: 340px;
    background-color: #1A0E1F;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 3% 0 3%;

    >div {
        min-width: 300px;
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        height: 300px;

        >figure {
            >img {
                width: 35%;
                filter: brightness(200%) contrast(200%) saturate(0%) blur(0px) hue-rotate(360deg);

            }
        }

        >h6 {
            font-size: 19px;
            color: #ffffff;
            text-transform: capitalize;
        }

        >ul {
            margin-top: 20px;

            >li {
                font-size: 14px;
                color: #ffffff;
                font-family: Prompt-Medium;
                margin-bottom: 10px;
                text-transform: capitalize;

                >i {
                    margin-right: 10px;
                }

                >a {
                    transition: .3s ease-in-out;

                    >i {
                        margin-right: 10px;
                    }

                    &:hover {
                        color: #784693;
                    }
                }
            }
        }
    }
}