    #headerContent1 {
        width: 100%;
        height: 400px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 70px;

        >figure {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            z-index: -1;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #7846939a;
                top: 0;
                left: 0;
            }
        }

        >h2 {
            color: white;
            font-family: Prompt-Medium;
            text-transform: capitalize;
            font-size: 40px;
            margin-bottom: 50px;
        }

        >form {
            display: flex;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.34);
            margin-bottom: 30px;
            transition: .4s ease-in-out;

            >input {
                width: 100%;
                height: 40px;
                padding: 0 13px;
                outline: none;

                &::placeholder {
                    text-transform: capitalize;

                }

            }

            >button {
                width: 40px;
                height: 40px;
                background-color: #784693;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                transition: .4s ease-in-out;
                outline: none;
                border: none;

                >i {
                    font-size: 20px;
                }

                &:hover {
                    background-color: #9769b1;
                }
            }
        }

        >div {
            height: 50px;
            padding: 0 15px;
            background-color: #784693;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            text-transform: uppercase;
            border-radius: 5px;
            letter-spacing: 1px;
            font-size: 18px;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            >span {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                transform: translateX(-100%);
                background-color: #1A0E1F;
                transition: .4s ease-in-out;

                >img {
                    width: 40px;
                }
            }

            &:hover {
                >span {
                    transform: translateX(0);
                }
            }
        }
    }